@using TamagotchiWeb.ServiceReference1;
@model Tamagotchi
@{
    ViewBag.Title = "Home Page";
}

<img src="http://i1085.photobucket.com/albums/j431/antiwoutertje/Hunger_zpsejudkerd.png" alt="Hunger" />
<img src="http://i1085.photobucket.com/albums/j431/antiwoutertje/Sleep_zpsdftptpku.png" alt="Sleep" />
<img src="http://i1085.photobucket.com/albums/j431/antiwoutertje/Boredom_zpsjer3tat6.png" alt="Boredom" />
<img src="http://i1085.photobucket.com/albums/j431/antiwoutertje/Health_zpsecaamucf.png" alt="Health" />
<p>

    Nieuwe Tamagotchi Toevoegen:
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Naam)

    
    <button type="submit">Add</button>
}
</p>
<p>
<table border="1" width="25%">
    <tr>
        <th>Naam</th>
        <th>Honger</th>
        <th>Slaap</th>
        <th>Verveeldheid</th>
        <th>Gezondheid</th>
    </tr>
    @foreach (var item in ViewBag.Tamagotchis)
    {
        <tr>
            
            <td>
                @using (Html.BeginForm("Tamagotchi", "Home", FormMethod.Post))
                {
                 
            <button name="TamagotchiID" value ="@item.Naam">@item.Naam</button>
                    
                }
                </td>               
<td> @item.Hunger</td>
    <td>@item.Sleep</td>
    <td>@item.Boredom</td>
    <td>@item.Health</td>
                           
        </tr>
    }
    </table>
</p>


