@{
    ViewBag.Title = "Welkom op de Statuspagina van je Tamagotchi";
    String img = @ViewBag.StatusImg;
    ViewBag.
}
<center><h2>@ViewBag.Title</h2></center>
<center><h3>Tamagotchi: @ViewBag.Naam</h3></center>

Honger      : <p>@ViewBag.Hunger</p>
Vermoeidheid: <p>@ViewBag.Sleep</p>
Verveeldheid: <p>@ViewBag.Boredom</p>
Gezondheid  : <p>@ViewBag.Health</p>


<img src="img" alt="Status" />
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{

}
<p></p>
